# Copy this file to .env for local development
# DO NOT commit .env to git

SECRET_KEY=your-secret-key-here
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3

EMAIL_HOST_USER=queuenova.official@gmail.com
EMAIL_HOST_PASSWORD=haqzubronigfnisn

RAZORPAY_KEY_ID=rzp_test_SSFmo3nd8hp6A1
RAZORPAY_KEY_SECRET=dhLvdCvsvCeGTcUupdE7OMqk
RAZORPAY_WEBHOOK_SECRET=kumar@8121644559
